body {
  background-color: #1f2532;
  color: #d9e0e6;
  font-family: "Mallanna", sans-serif;
}

#root {
  height: 100vh;
}

nav {
  height: 10vh;
  position: sticky;
}

.section {
  height: 90vh;
  width: 100vw;
}
